# Wordpress

# Core
/wp-admin/
/wp-includes/
/wp-content/index.php
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-content/languages
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php
local-xdebuginfo.php

# Default Themes
/wp-content/themes/twenty*/

# Plugins
/wp-content/plugins/hello.php
/wp-content/plugins/block-work/node_modules/
/wp-content/plugins/helldivers-2-major-order/node_modules/
/wp-content/plugins/kala-testimonial-block/node_modules/
/wp-content/plugins/query-monitor/
/wp-content/plugins/card-logger-old/
/wp-content/plugins/poker-hand-logger-old/

# Uploads
/wp-content/uploads/

# Files
*.log

# htaccess
/.htaccess
